@import 'app-common';
@import '~nativescript-theme-core/scss/platforms/index.android';

// Place any CSS rules you want to apply only on Android here
.mdi {
  font-family: "Material Icons", "MaterialIcons-Regular";
}
.invisible {
  display: none;
}
.fab-button {
  background-color: blue;
  color: blue;
}